
PORT = 8000
HOST = 0.0.0.0

ARCJET_KEY = ""
# Options: "development", "staging", "production"
ARCJET_ENV = "development"

DATABASE_URL = ''


# API URL
API_URL="http://localhost:8000"
# API_URL="YOUR_REAL_PRODUCTION_URL"


BROADCAST="1"
DELAY_MS="250"
MATCH_COUNT="0"